<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__logo">
            © 2022 Pengu Pad | All Rights Reserved
        </div>
        <div class="footer__links">
            <a class="footer__link">Privacy Policy</a>
            <span class="footer__divider">|</span>
            <a class="footer__link">Terms of Service</a>
            <span class="footer__divider">|</span>
            <a class="footer__link">Earnings Disclaimer</a>
        </div>
    </div>
</footer>