
<header>
    <div class="header__container">
        <div class="header__container--logo">
            <img src="assets/img/pengulogo.svg">
        </div>
        <div class="header__container--text">
            <div class="header__text--first">
                FEATURES
            </div>
            <div class="header__text--second">
                ROADMAP
            </div>
            <div class="header__text--third">
                FAQ
            </div>
        </div>
        <div class="header__container--icons">
            <div class="header__icons--discord">
                <img src="assets/img/discord.svg">
            </div>
            <div class="header__icons--twitter">
                <img src="assets/img/twitter.svg">
            </div>
        </div>
        <div class="header__container--button">
            Mint - Coming Soon  
        </div>
        <div class="header__burger">
            <div></div>
        </div>
    </div>
</header>
<nav class="menu">
    <nav class="menu__list">
        <ul>
            <li class="menu__item"><a href="">FEATURES</a></li>
            <li class="menu__item"><a href="">ROADMAP</a></li>
            <li class="menu__item"><a href="">FAQ</a></li>
        </ul>
    </nav>
    <div class="menu__logos">
        <div class="menu__logo"><a href=""><img src="../../assets/img/discord.svg"></a></div>
        <div class="menu__logo"><a href=""><img src="../../assets/img/twitter.svg"></a></div>
    </div>
    <div class="menu__button">MINT - COMING SOON</div>
</nav>