
<header>
    <div class="header__container">
        <div class="header__container--logo">
            <img src="assets/img/pengulogo.svg">
        </div>
        <div class="header__container--text">
            <div class="header__text--first">
                FEATURES
            </div>
            <div class="header__text--second">
                ROADMAP
            </div>
            <div class="header__text--third">
                FAQ
            </div>
        </div>
        <div class="header__container--icons">
            <div class="header__icons--discord">
                <img src="assets/img/discord.svg">
            </div>
            <div class="header__icons--twitter">
                <img src="assets/img/twitter.svg">
            </div>
        </div>
        <div class="header__container--button">
            Mint - Coming Soon  
        </div>
        <div class="header__burger">
            <div></div>
        </div>
    </div>
</header>