@import 'vars';
@import 'fonts';

/* reset START */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box !important;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    cursor: default;
}

span {
    cursor: default;
}

h2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    @media screen and (min-width: $pc) {
        font-size: 50px;
    }
}

h3 {
    font-size: 20px;
    line-height: 25px;
    @media screen and (min-width: $pc) {
        font-size: 40px;
        line-height: 53px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    &:active {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none !important;
    }
    span {
        cursor: pointer;
    }
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    appearance: none !important;
    -webkit-appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    font-family: inherit;
    font-size: inherit;
}
button, input[type="submit"] {
    cursor: pointer;
}

button span {
    cursor: pointer;
}
button:disabled span {
    cursor: default;
}

hr {
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

::selection {
    color: #2F4BAC;
    background: #fff; 
}
::-moz-selection {
    background: #fff; 
    color: #2F4BAC;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    background: #fff;
    color: #51586F;
    font-size: 18px;
    line-height: 25px;
}

.no-scroll {
    overflow: hidden;
}

.body-wrapper {
    position: relative;
    overflow: hidden !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;
}
/* reset END */
.first {
    position: relative;

}
/*HEADER */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 18px;
}
.header__container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    &--logo {
        display: block;
        width: 161px;
        height: 36px;
        margin-right: 432px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &--text {
        font-size: 16px;
        line-height: 28px;
        color: #216D92;
        display: flex;
        flex-direction: row;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        .header__text--first {
            padding-right: 20px;
        }
        .header__text--second {
            padding-right: 20px;
        }
        .header__text--third {
            padding-right: 40px;
        }
    }
    &--icons {
        display: flex;
        flex-direction: row;
        div {
            width: 36px;
            height: 36px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        div:first-of-type {
           margin-right: 8px 
        }
        div:last-of-type {
            margin-right: 40px;
        }
    }
    &--button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 40px;
        background: #216D92;
        border-radius: 32px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #FFFFFF;
    }
}
.first {
    &:after {
        content: '';
        background-image: url(../img/background-first.jpg);
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -2;
        background-repeat: no-repeat;
        background-position: center;
}
}
.first__wrapper {
    position: relative;
    max-width: 1600px;
    &:after {
        content: "";
        background-image: url(../img/penguin1.png);
        position: absolute;
        width: 400px;
        height: 499px;
        top: 183px;
        left: 0;
        bottom: 0;
        right: 0;  
        z-index: -1;
        background-repeat: no-repeat;
    }
    &:before {
        content: "";
        background-image: url(../img/penguin2.png);
        position: absolute;
        width: 400px;
        height: 499px;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
    display: flex;
    padding-top: 188px;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.first__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 919px;
    padding-bottom: 280px;
    &--title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        color: #FFFFFF;
        width: 919px;
        height: 138px;
        .main__title-color {
            color: #216D92;
        }
    }
    &--subtitle {
        padding-top: 25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #216D92;
        width: 729px;
        padding-bottom: 29px;  
        span {
            color: #FFFFFF
        }
    }
    &--button {
        display: flex;
        background: #14AE5C;
        border-radius: 100px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 24px 55px;
        color: #ffffff;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        &:hover {
            cursor: pointer;
        }
    }
}
.second__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 168px;
    &--icon {
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 80px;
        img {
            width: 46px;
            height: 46px;
            object-fit: contain;
        }
        .second__icon--title {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            padding-right: 11px;
            color: #8C8C8C;
            text-align: center;
        }
    }
    &--title {
        .second__title--title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 62px;
            color: #356684;
            text-align: center;
            padding-bottom: 12px;
        }
        .second__title--subtitle {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            padding-bottom: 32px;
            color: #144761;
        }

    }
    &--imgs {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1110px;
        
        .second__img--item {
            display: flex;
            flex-direction: column;
            width: 226px;
            margin-right: 12.25px;
            .second__img--img {
                width: 226px;
                height: 226px;
            }
            &:last-of-type {
                padding-right: 0px;
            }
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
            .item__text {
                padding-top: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                text-align: center;
                color: #495057;
            }
        }
        .second__img--arrow {
            margin-right: 11.25px;
            width: 45px;
            height: 45px;
            padding-bottom: 124px;
        }
    }
}
.third__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 151px;
    padding-bottom: 183px;
    &--background {
        background-image: url(../img/third_background.png);
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1
    }
    &--img {
        display: block;
        width: 540px;
        height: 616px;
        margin-right: 30px;
        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
    &--main {
        padding-top: 165px;
        .third__main--title {
            width: 310px;
            height: 30px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #356684;
            
        }
        .third__main--timer {
            padding-bottom: 30px;
            padding-top: 30px;
            display: flex;
            flex-direction: row;
            width: 540px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 62px;
            .third__timer--data {
                display: flex;
                flex-direction: row;
                color: #144761;
                .third__timer--item {
                    
                    .timer__item--number {
                        margin-right: 6px;
                        width: 110px;
                        letter-spacing: 27px;
                        text-align: center;    
                        color: #144761;
                        padding-left: 10px;
                        padding-bottom: 33px;
                        }
                    .timer__item--subtitle {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 28px;
                        text-align: center;
                        color: #495057;
                    }
                    }
                }
            }
            
        }

    }
.third__main--subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 540px;
    color: #144761;
}
.third__main--icons {
    padding-top: 30px;
    display: flex;
    .third__main--icon {
        width: 55px;
        height: 55px;
        margin-right: 12px;
    }
}
.fourth__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 196px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1110px;
    position: relative;
}
.fourth__wrapper--title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    width: 330px;
    height: 62px;
    color: #356684;
    margin-bottom: 16px;
}
.fourth__wrapper--subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 635px;
    height: 76px;
    color: #4A4A4A;
    margin-bottom: 50px;
}
.fourth__wrapper--grid {
    height: 477px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 48px;
    padding-bottom: 57px;
    background: #F6F9FA;
    border: 1px solid rgba(20, 71, 97, 0.13);
    border-radius: 16px;
    margin-bottom: 101px;
}
.fourth__grid--item {
    display: flex;
    width: 490px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.fourth__item--title {
    color: #356684;
    margin-bottom: 16px;
    padding-left: 21px;
    height: 26px;
}
.fourth__item--subtitle {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #4A4A4A;
    width: 383px;
    padding-left: 21px;
}
.fourth {
    position: relative;
    &__image {
        width: 456px;
        height: 442px;
        position: absolute;
        object-fit: cover;
        top: -91px;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.fifth {
    margin-bottom: 223px;
    position: relative;
    display: flex;
    justify-content: center;
    
    &:before {
        content: '';
        position: absolute;
        top: 135px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url(../img/fifth_background.svg);
        width: 100%;
        height: 100%;
        z-index: -2;
    }
    &:after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/fifth-gradient.svg);
        width: 100%;
        height: 85.6%;
        z-index: -1;
        top: 135px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1110px;
    }
    &__title {
        padding-bottom: 80px;
        &--title {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 42px;
            line-height: 62px;
            color: #356684;
            width: 691px;
            padding-bottom: 15px;
        }
        &--subtitle {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #33342F;
            text-align: center;
            span {
                font-weight: 700;
                color: #356684;
            }
        }

    }
    &__main {
        display: flex;
        &--img {
            flex-shrink: 0;
            width: 540px;
            height: 614px;
            margin-right: 50px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &--box {
            display: flex;
            flex-direction: column;
            background: #F6F9FA;
            border: 1px solid #E0E8EB;
            border-radius: 20px;
            padding: 40px 40px; 
            margin-bottom: 30px;
        }
        &--list {
            padding-left: 42px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    &__box {

        &--img {
            width: 23px;
            height: 34px;
            flex-shrink: 0;
            margin-right: 12px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &--main {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 150%;
            color: #356684;
        }
        &--title {
            display: flex;
            padding-bottom: 12px;
            width: 403px;
        }
        &--text {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #33342F;
            width: 440px;
        }

    }
    &__list {
        &--item {
            display: flex;
        }
        &--img {
            width: 29px;
            height: 29px;
            margin-right: 12px;
        }
        &--text {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 150%;
            padding-bottom: 28px;
            color: #356684;
            &:first-of-type {
                padding-bottom: 27px;
            }
        }
    }
}
.sixth {
    &__wrapper {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__title {
        padding-top: 14px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 62px;
        color: #356684;
        text-align: center;
        padding-bottom: 30px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 32px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 280px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 216px;
        
    }
    &__subtitle {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 62px;
        color: #356684;
        margin-top: 126px;
        padding-bottom: 30px;
    }
    &__background {
        position: absolute;
        background-image: url(../img/sixth_background.svg);
        width: 100%;
        height: 509px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        background-size: cover;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
.sixth__item {
    &--img {
        width: 240px;
        height: 240px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 16px;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &--text {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        align-items: flex-start;
        margin-bottom: 16px;
    }
    &--title {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 4px;
        color: #356684; 
    }
    &--subtitle {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #495057;
    }
    &--icons {
        display: flex;
        margin-left: 20px;
    }
    &--icon {
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &lb--title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        padding-bottom: -4px;
    }
    &lb--img {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 60px;
    }
    &lb--text {
        width: 100%;
        align-items: center ;
        justify-content: space-between;
        display: flex;
    }
    &lb--body {
        display: none;
    }
}
.sixth__menu--itemdb {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 1008px;
    background: #5184B6;
    border: 1px solid #272727;
    border-radius: 10px;
    padding: 30px 30px;
}
.sixth__menu--itemlb {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background: #A7CCF5;
    border: 1px solid #064460;
    border-radius: 10px;
    align-items: center;
    color: #356684;
    padding: 30px 30px;
    width: 1008px;
}
.sixth__menu--itemlb.active {
        background: #5184B6;
        border: 1px solid #272727;
        border-radius: 10px;
        padding: 30px 30px;
        color: #FFF;
        .sixth__itemlb--body {
            display: block;
        }
        .sixth__itemlb--text {
            padding-bottom: 14px;
        }
}
.footer {
    background: #F7FAFE;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 34px;
        padding-bottom: 33px;
        padding-right: 375px;
        padding-left: 375px;
    }
    &__logo {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #495057;
    }
    &__links {
        display: flex;
    }
    &__link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #216D92;
    }
    &__divider {
        font-family: 'Ubuntu', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 2px;
        padding-left: 14px;
        padding-right: 14px;
    }
}

// this is for IPAD
@media screen and (max-width: 1250px) {
    header {
        padding-left: 0;
        display: flex;
        justify-content: center;
        width: 100%;

    }
    .header {
        &__icons--twitter {
            height: 24px;
            width: 24px;
        }
        &__icons--discord {
            height: 24px;
            width: 24px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .header__container {
        display: flex;
        align-items: center;
        justify-content: center;
        &--logo {
            margin-right: 25px;
            width: 100px;
            height: 30px;
        }
        &--text {
            font-size: 12px;
        }  
        &--button {
            font-size: 12px;    
            padding: 10px 30px;
        }      
    }
    .first {
        &__wrapper {
            padding-bottom: unset;
            padding-top: 140px;

        }

        }
        .first__main {
            padding-bottom: unset;
            &--title {
                line-height: 35px;
                font-size: 27px;
                width: 600px;
                height: unset;
            }
            &--button {
                margin-bottom: 30px;
                padding: 12px 25px;
                font-size: 12px;
            }
            &--subtitle {
                font-size: 14px;
                padding-bottom: 30px;
            }
    }
    .first__wrapper {
        max-width: 900px;
        &:before {
            top: 175px;
            left: unset;
            right: 10px;
            width: 150px;
            height: 230px;
            background-size: cover;
        }
        &:after {
            top: 175px;
            right: unset;
            left: 5px;
            width: 170px;
            height: 220px;
            background-size: cover;
        }
    }
    .second {
        &__wrapper--icon {
            padding-top: 200px;

        }
    }
    .second__wrapper--title .second__title--title {
        font-size: 30px;
    }
    .second__wrapper--title .second__title--subtitle {
        font-size: 16px;
    }
    .second__wrapper--imgs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;

    }
    .second__wrapper--imgs .second__img--arrow {
        display: none;
    }
    .second__wrapper--imgs .second__img--item .second__img--img {
        width: 180px;
        height: 180px;
    }
    .second__wrapper--imgs .second__img--item .item__text {
        font-size: 12px;
        padding-top: 10px;
        line-height: 20px;
    }
    .second__wrapper--imgs .second__img--item {
        width: 180px;
    }
    .second__wrapper--imgs .second__img--item .item__text {
        width: 180px;
    }
    .second__wrapper { 
        justify-content: center;
    }
    .second__wrapper--imgs {
        width: unset;
    }
    .third {
        &__wrapper--img {
            width: 250px;
            height: 300px;
        }
        &__wrapper--main {
            padding-top: unset;
            justify-content: center;
            align-items: center;
        }
    }
    .third__wrapper--main .third__main--title {
        font-size: 20px;
        width: 100%;
    }
    .third__wrapper--main .third__main--timer {
        width: unset;
    }
    .third__wrapper--main .third__main--timer .third__timer--data .third__timer--item .timer__item--number {
        padding: unset;
        margin: unset;
        justify-content: center;
        letter-spacing: 10px;
        font-size: 36px;
        width: 80px;
    }
    .third__wrapper--main .third__main--timer .third__timer--data {
        display: flex;
        justify-content: center;
    }
    .third__wrapper--main .third__main--timer .third__timer--data .third__timer--item .timer__item--subtitle {
            font-size: 14px;
    }
    .third__main--subtitle {
        font-size: 14px;
        width: 400px;
    }
    .third__main--icons .third__main--icon {
        width: 35px;
        height: 35px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .fourth {
        &__image {
            width: 250px;
            height: 250px;
            left: unset;
            right: 50px;
            top: -20px;
            display: none;
        }
        &__wrapper {
            align-items: center;
            padding-top: unset;
        }
        &__wrapper--title {
            width: unset;
            height: unset;
            font-size: 30px;
        }
        &__wrapper--subtitle {
            font-size: 14px;
            line-height: 24px;
            text-align: center;
        }
        &__wrapper--grid {
            height: unset;
            grid-template-columns: 1fr;
            padding: 20px 20px;
            row-gap: 10px;
        }
        &__grid--item {
            width: unset;
        }
        &__item--title {
            margin-bottom: 8px;
            padding-left: 16px;
            font-size: 16px;    
        }
        &__item--subtitle {
            padding-left: 16px;
            font-size: 13px;
            line-height: 24px;
        }
        
        &__item--img {
            width: 60px;
            padding-bottom: 30px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
    }
    .fifth {
        &__wrapper {
            justify-content: center;
            align-items: center;
            
        }
        &__main {
            justify-content: center;
            align-items: center;
        }
        &__title--title {
            text-align: center;
            font-size: 34px;
            width: unset;
        }
        &__title--subtitle {
            font-size: 12px;
            line-height: 20px;
        }
        &__box--text {
            font-size: 13px;
            width: 340px;
        }
        &__main--box {
            padding: 30px 30px;
        }
        &__box--main {
            font-size: 16px;
        }
        &__box--img {
            height: 22px;
            width: 24px;
        }
        &__box--title {
            width: unset;
        }
        &__list--text {
            font-size: 16px;
            padding-bottom: 20px;
        }
        &__main--img {
            width: 325px;
            height: 325px;
            margin-right: 15px;
        }
    }
    .sixth {
        &__title {
            font-size: 36px;
        }
        &__item {
            width: unset;
        }
        &__item--img {
            width: 160px;
            height: 160px;
        }
        &__item--title {
            font-size: 18px;
        }
        &__item--subtitle {
            font-size: 14px;
        }
        &__subtitle {
            font-size: 30px
        }
        &__menu--itemdb {
            width: 600px;
        }
        &__itemdb--title {
            font-size: 16px;
        }
        &__itemlb--title {
            font-size: 16px;
        }
        &__menu--itemlb {
            width: 600px;
            padding: 20px;
            height: unset;
        }
        &__menu {
            margin: 0 15px;
        }
    }
    .footer {
        &__wrapper {
            padding: 15px 30px;
            justify-content: space-between;
            align-items: space-between;
    
        }
        &__links {
            justify-content: center;
            align-items: center;
        }
        &__link {
            width: unset;
            font-size: 10px;
        }
        &__divider {
            font-size: 10px;
            padding: 0 6px;
        }
        &__logo {
            font-size: 12px;
        }
    }
}
@media screen and (max-width: 800px) {
    .header {
        &__container--icons {
            display: none;
        }
        &__container--text {
            display: none;
        }
        &__container--button {
            display: none;
        }
    }
    .first {
        &__main--title {
            font-size: 28px;
            line-height: 25px;
            width: unset;
            padding-bottom: 30px;
        }
        &__main--subtitle {
            font-size: 14px;
            line-height: 15px;
            width: 240px;
            padding-bottom: 25px;
            padding-top: unset
        }
        &::after {
            background-image: url(../img/background-first-phone.jpg);
            background-position: bottom center;
        }
        &__main--button {
            padding: 25px 25px;
            font-size: 20px;
            margin-bottom: 250px;
        }
    }
    .first__wrapper {
        margin: 0 15px;
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .second {
        &__wrapper--icon {
            padding-top: unset;
            
        }
    }
    .second__wrapper {
        padding: 0 15px;
    }
    .second__wrapper--icon .second__icon--title {
        font-size: 18px;
    }
    .second__wrapper--icon img {
        width: 35px;
        height: 35px;
    }
    .second__wrapper--title .second__title--title {
        line-height: 35px;
        font-size: 24px;;
    }
    .second__wrapper--title .second__title--subtitle {
        font-size: 14px;

    }
    .second__wrapper--imgs .second__img--item {
        width: 140px;
    }
    .second__wrapper--imgs .second__img--item .second__img--img {
        width: 140px;
        height: 140px;
    }
    .second__wrapper--imgs .second__img--item .item__text {
        width: 140px;
        font-size: 10px;
        line-height: 15px;
    }
    .third {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            padding-right: 15px;
            padding-left: 15px;
        }
        &__wrapper--main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
    .third__wrapper--main .third__main--title {
        width: unset;

    }
    .third__main--subtitle {
        width: unset;
        font-size: 10px;
        text-align: center;
    }
    .fourth {
        &__wrapper {
            padding-right: 15px;
            padding-left: 15px;
        }
        &__wrapper--subtitle {
            width: unset;
            text-align: center;
        }
        &__item--subtitle {
            width: unset;
            line-height: 20px;
            font-size: 12px;
        }
        &__item--title {
            height: unset;
            font-size: 13px;
            line-height: 20px;
        }
        &__item--img {
            padding-bottom: unset;
            height: unset;
            flex-shrink: 0;
            width: 45px;
        }
        &__wrapper--grid {
            grid-template-columns: unset;
            grid-template-rows: unset;
        }
        &__grid--item {
            align-items: flex-start;
        }
    }
    .fifth {
        &__wrapper {
            padding-right: 15px;
            padding-left: 15px;
            flex-direction: column;
        }
        &__main {
            flex-direction: column;
        }
        &__title--title {
            font-size: 25px;
            line-height: unset;
        }
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 50px;
        }
        &__main--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__main--img {
            margin-right: unset;
            margin-bottom: 25px;
        }
        &__main--box {
            padding: 20px;
        }
        &__box--main {
            font-size: 14px;
        }
        &__box--title {
            padding-bottom: 8px;
        }
        &__box--text {
            font-size: 12px;
            width: 290px;
        }
        &__main--list {
            padding-left: unset;
            display: flex;
            flex-direction: column;
            justify-content: center; //!PROBLEM cant center text

        }
    }
    .sixth {
       &__wrapper {
        padding-left: 15px;
        padding-right: 15px;
       } 
       &__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
       }
       &__item--img {
        display: flex;
        margin: unset;
        width: 120px;
        height: 120px;
       }
       &__item--text {
        padding: unset;
        margin: unset;
       }
       &__item--title {
        font-size: 13px;
       }
       &__item--subtitle {
        font-size: 10px;
       }
       &__item--icons {
        margin: unset;
       }
       &__subtitle {
        font-size: 25px;
        text-align: center;
        line-height: 30px;
       }
       
    }
}


